.slider {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    margin-bottom: 50px;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .dot {
    margin: 0 10px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.5s ease-in-out;
  }
  
  .dot.active {
    background-color:#0072CE;
  }
  

