/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[4].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[4].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[4].oneOf[9].use[5]!./app/[title]/[id]/TitleId.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.TitleId_titleId__wat82 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.TitleId_titleId__wat82 .TitleId_image__hdu1Q {
  position: relative;
}
.TitleId_titleId__wat82 .TitleId_price__VlSg1 {
  position: absolute;
  bottom: 15px;
  left: 220px;
  background: #0072ce;
  box-shadow: 0px 0px 15px #0072ce;
  border-radius: 10px;
  padding: 10px;
  color: #ffffff;
}
.TitleId_titleId__wat82 .TitleId_description__tyxU_ {
  margin-top: 15px;
  margin-left: 10px;
  text-align: left;
}
.TitleId_titleId__wat82 h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 20px;
}
.TitleId_titleId__wat82 p {
  color: #c4c4c4;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  margin-bottom: 20px;
}
.TitleId_titleId__wat82 h3 {
  display: inline-block;
  padding: 6px 8px 8px 8px;
  color: #c4c4c4;
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
  border: 1px solid #383838;
  border-radius: 2px;
  background: #1f1f1f;
  margin-bottom: 10px;
}
.TitleId_titleId__wat82 .TitleId_dev__oTGta {
  display: inline-block;
  padding: 6px 8px 6px 8px;
  color: #c4c4c4;
  font-weight: 400;
  font-size: 20px;
  line-height: 10px;
  border: 1px solid #383838;
  border-radius: 2px;
  background: #1f1f1f;
}
