.catalog {
    &__container {
        max-width: 1280px;
        margin: 0 auto;
    }
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
	}
	h1 {
        margin-top: 65px;
		font-weight: 700;
		font-size: 26px;
		line-height: 25px;
		color: #ffffff;
	}
	
	&__item {
		margin-top: 35px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(170px, max-content));
		gap: 30px;
		padding-bottom: 50px;
		justify-content: center;	
	}
	&__no {
		font-weight: 700;
		font-size: 26px;
		line-height: 25px;
		color: #ffffff;
		
	}


	@media (max-width: 1170px) {
		&__title {
			max-width: 970px;
			margin: 0 auto;
	
		}
	}
	@media (max-width: 1170px) {
		&__title {
			max-width: 970px;
			margin: 0 auto;
	
		}
	}
	@media (max-width: 970px) {
		&__title {
			max-width: 770px;
			margin: 0 auto;
	
		}
	}
	@media (max-width: 770px) {
		&__title {
			max-width: 570px;
			margin: 0 auto;
	
		}
	}
	@media (max-width: 570px) {
		&__title {
			max-width: 370px;
			margin: 0 auto;
	
		}
	}
	@media (max-width: 370px) {
		&__title {
			max-width: 170px;
			margin: 0 auto;
			h1 {
				font-weight: 700;
				font-size: 24px;
				line-height: 25px;
				color: #ffffff;
			}
	
		}
	}
}
